<div class="addBrincadeiraContainer">
  <div class="row">
    <div class="col-sm-5 col-sm-offset-6  text-left imgtext">
      Adicionar Brincadeira
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Nome Brincadeira
    </div>
    <div class="col-sm-5 ">
      <input type="text" ng-model="nomeBrincadeira">
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Assunto
    </div>
    <div class="col-sm-5 ">
      <input type="text" ng-model="assunto">
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Classificação de ensino
    </div>
    <div class="col-sm-5 ">
      <input type="text" ng-model="classificacao">
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Tipo
    </div>
    <div class="col-sm-5 ">
      <input type="text" ng-model="tipo">
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Ambiente
    </div>
    <div class="col-sm-5 ">
      <input type="text" ng-model="ambiente">
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Porte
    </div>
    <div class="col-sm-5 ">
      <input type="text" ng-model="porte">
    </div>  
  </div>

  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Autor
    </div>
    <div class="col-sm-5 ">
      <input type="text" ng-model="autor">
    </div>  
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Descrição
    </div>
    <div class="col-sm-5 ">
      <textarea ng-model="$parent.descricao" rows="4" cols="50"></textarea>
    </div>  
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Aplicação
    </div>
    <div class="col-sm-5 ">
      <textarea ng-model="$parent.aplicacao" rows="4" cols="50"></textarea>
    </div>  
  </div>
  <br>
  <div class="row">
    <div class="col-sm-2 col-sm-offset-4 ">
      Foto
    </div>
    <div class="col-sm-5 ">
      <input type='file' file-model='img'>
    </div>  
  </div>
  <div class="row margin-top-10">
    <div class="col-sm-2 col-sm-offset-6 btnContainer">
      <button class="btn btn-primary" type="submit" ng-click="criarBrincadeira()">Criar brincadeira</button>
    </div>
  </div>
</div>