<div class="busca">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-3 col text-center imgtext">
        {{atividadeName}}
      </div>
    </div>

    <div class="row" ng-repeat="item in resultado">
      <div class="col-sm-5 col-sm-offset-3 text-left">
        <div class="row">
          <div class="col-sm-12">
            Autor: {{item.AUTOR_BRINC}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            Assunto: {{item.MAT}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            Classificação: {{item.CLASS}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            Tipo: {{item.TIPO}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            Ambiente: {{item.AMB}}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            Porte: {{item.PORTE}}
          </div>
        </div>
        <div class="row margin-top-10">
          <div class="col-sm-12">
            Descrição: {{item.DESC_BRINC}}
          </div>
        </div>
        <div class="row margin-top-10">
          <div class="col-sm-12">
            Aplicação: {{item.APLICACAO_BRINC}}
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <img src="{{'../img/'+item.IMAGEM_BRINC}}">
      </div>
    </div>
  </div>
</div>