<div class="busca">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-6 col text-left imgtext">
        Busca!
      </div>
    </div>
    <div ng-repeat="item in buscas" class="marginbottom15">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2 text-left">
          <span ng-click="goTo(item.NOME_BRINC)" class="link">{{item.NOME_BRINC}}</span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2  text-left">
          {{item.APLICACAO_BRINC}}
        </div>
      </div>
    </div>
  </div>
</div>