<html>
<head>
  <meta charset="UTF-8">
  <title>tcc lipe</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body>
  <div class="tcc">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col">
          imagenzinha
        </div>
        <div class="col-sm-5 col text-left">
          Administrar Dados
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 col-sm-offset-4 col">
          Assunto
        </div>
        <div class="col-sm-5 col">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-4 col">
          Classificação de ensino
        </div>
        <div class="col-sm-5 col">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-4 col">
          Tipo
        </div>
        <div class="col-sm-5 col">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-4 col">
          Ambiente
        </div>
        <div class="col-sm-5 col">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu4">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>
        </div>  
      </div>

      <div class="row">
        <div class="col-sm-2 col-sm-offset-4 col">
          Porte
        </div>
        <div class="col-sm-5 col">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu5">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </div>
        </div>  
      </div>

    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>