<html>
<head>
  <meta charset="UTF-8">
  <title>tcc lipe</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../style/main.css">
</head>
<body ng-app="tcclipe">
  <div class="tcc" ng-controller="NavBarController">
    <img src="../img/logotipo.png" alt="Smiley face" height="200" width="200" class="logotipo" 
    ng-click="imgClick()">
    <div class="page-content">
      <div ng-view></div>
    </div>
  </div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../application.js"></script>
</body>
</html>